.col-6 p{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.col-6 img {
   border-radius: 2rem;
   border-color: blue;
   background-color: brown;
   padding:0.5rem;
}
.col-6 h3, h1{
    text-align: center;
}