.col {
  display: flex;
  background-color: rgb(148, 50, 50);
}
/*  */
.col img {
  width: 5.5rem;
  height: auto;
}

.col ul {
  list-style-type: none;
}
.nav .link {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
}
.col .nav {
  align-items: center;
  justify-content: center;
}
.col h1 {
  color: white;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
