.col-products img {
  border-radius: 2rem;
  border-color: blue;
  background-color: brown;
  padding: 0.5rem;
}
.col-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container h1,
p {
  text-align: center;
}
